body {
    background-color: #e9692c;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  };

h1 {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
p {
    color: black;
    margin: 0 auto;
    padding-top: 20px;
    width: 450px;
    height: auto;
    text-align: left;
  }
ul.a{
  margin-left: -45px;
  list-style: none;
}
ul.b{
  margin-left: -45px;
}
li.b{
  list-style: none;
  display: inline-block;
}

.main{
  width: 800px;
  height: 800px;
  background-color: #fbe1d5;
  margin: 0 auto;
  padding-top: 20px;
  border-radius: 10px;
  border: 1px solid #fbe1d5;
}
.img{
  background-image: url(untitled.png);
  background-color: black;
  background-size: cover;
  background-position:center;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid white;
  
}